@{
    Page.Title = "About Us";
}

<div class="row">

    <div class="col-md-3">
        <p class="lead">@Page.Title</p>
        <div class="list-group">
            <a href="~/" class="list-group-item">Index</a>
            <a href="~/About" class="list-group-item">About</a>
            <a href="#contact" class="list-group-item">Contact Us</a>
        </div>
    </div>

    <div class="col-md-9">
        <section>
            <h1>Monco Marketing & Development Corporation</h1>
            <p>
                Monco Marketing & Development Corporation is a company that provides import and export services 
                of their products to their valid customers. The deliveries of the products are not only in the 
                Philippines but as well in the other countries depending on the location of the customer who ordered
                the product. The current location of the company is at Room 1601 16th Floor Federal Tower 96 Dasmariñas St., 
                San Nicolas, Binondo 1006, MNL.
            </p>
        </section>
    </div>

</div> <!-- end of main row class -->